# Exercises II

In [1]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
import env
from pydataset import data
import scipy
import os
from sklearn.model_selection import train_test_split
# turn off pink boxes for demo
# from sklearn.tree import DecisionTreeClassifier, plot_tree
# from sklearn.metrics import classification_report
# from sklearn.metrics import confusion_matrix
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings("ignore")

In [2]:
from acquire_zillow import get_zillow_data

In [3]:
df = get_zillow_data()

In [4]:
df.shape

(53733906, 7)

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
bedroomcnt,53680896.0,3.093362,1.271569,0.00,2.00,3.00,4.0,2.500000e+01
bathroomcnt,53680680.0,2.216196,1.078249,0.00,2.00,2.00,3.0,3.200000e+01
calculatedfinishedsquarefeet,52922160.0,1831.455292,1954.197738,1.00,1215.00,1574.00,2140.0,9.525760e+05
taxvaluedollarcnt,53117118.0,443527.931066,816336.496423,1.00,188220.00,321161.00,514072.0,3.196225e+08
yearbuilt,52872912.0,1964.437713,23.644272,1801.00,1950.00,1963.00,1981.0,2.016000e+03
taxamount,53324370.0,5408.948842,9675.565164,0.24,2468.62,4007.62,6230.5,3.823176e+06
fips,53681130.0,6048.053490,20.240821,6037.00,6037.00,6037.00,6059.0,6.111000e+03

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53733906 entries, 0 to 53733905
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 2.8 GB

In [7]:
df.isnull().sum()

bedroomcnt                       53010
bathroomcnt                      53226
calculatedfinishedsquarefeet    811746
taxvaluedollarcnt               616788
yearbuilt                       860994
taxamount                       409536
fips                             52776
dtype: int64

In [8]:
df.isnull().any()

bedroomcnt                      True
bathroomcnt                     True
calculatedfinishedsquarefeet    True
taxvaluedollarcnt               True
yearbuilt                       True
taxamount                       True
fips                            True
dtype: bool

In [9]:
df.columns[df.isnull().any()]

Index(['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet',
       'taxvaluedollarcnt', 'yearbuilt', 'taxamount', 'fips'],
      dtype='object')

In [10]:
df.yearbuilt.value_counts(dropna=False, ascending=True)

1861.0         18
1825.0         18
1810.0         18
1869.0         18
1813.0         18
           ...
1956.0    1183014
1953.0    1207116
1954.0    1319112
1950.0    1369800
1955.0    1593990
Name: yearbuilt, Length: 184, dtype: int64

In [11]:
# Replace a whitespace sequence or empty with a NaN value and reassign this manipulation to df.

df = df.replace(r'^\s*$', np.nan, regex=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53733906 entries, 0 to 53733905
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 2.8 GB

In [13]:
# Drop all rows with any Null values, assign to df, and verify.

df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52234524 entries, 36 to 53681111
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 3.1 GB

In [14]:
# Change all column data tyes to int64, reassign to df, and verify.

df = df.astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52234524 entries, 36 to 53681111
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    int64
 1   bathroomcnt                   int64
 2   calculatedfinishedsquarefeet  int64
 3   taxvaluedollarcnt             int64
 4   yearbuilt                     int64
 5   taxamount                     int64
 6   fips                          int64
dtypes: int64(7)
memory usage: 3.1 GB

In [15]:
# Default arguments for value and method parameters.

#df.fillna(value=None, method=None)

In [16]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
bedroomcnt,52234524.0,3.170278,1.185457,0.0,2.0,3.0,4.0,25.0
bathroomcnt,52234524.0,2.217518,1.021790,0.0,2.0,2.0,3.0,32.0
calculatedfinishedsquarefeet,52234524.0,1836.479432,1935.553770,1.0,1218.0,1581.0,2148.0,952576.0
taxvaluedollarcnt,52234524.0,444828.167789,730804.354074,22.0,192600.0,324450.0,516903.0,287098486.0
yearbuilt,52234524.0,1964.258716,23.626700,1801.0,1950.0,1963.0,1981.0,2016.0
taxamount,52234524.0,5455.650868,8740.154041,5.0,2543.0,4059.0,6277.0,3458861.0
fips,52234524.0,6047.878252,20.090155,6037.0,6037.0,6037.0,6059.0,6111.0

In [17]:
df[df.taxvaluedollarcnt == 287098486.0]

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
6172938,0,0,520825,287098486,2013,3458861,6037
6172939,0,0,520825,287098486,2013,3458861,6037
6172940,0,0,520825,287098486,2013,3458861,6037
6172941,0,0,520825,287098486,2013,3458861,6037
6172942,0,0,520825,287098486,2013,3458861,6037
6172943,0,0,520825,287098486,2013,3458861,6037
6172944,0,0,520825,287098486,2013,3458861,6037
6172945,0,0,520825,287098486,2013,3458861,6037
6172946,0,0,520825,287098486,2013,3458861,6037
6172947,0,0,520825,287098486,2013,3458861,6037
6172948,0,0,520825,287098486,2013,3458861,6037
6172949,0,0,520825,287098486,2013,3458861,6037
6172950,0,0,520825,287098486,2013,3458861,6037
6172951,0,0,520825,287098486,2013,3458861,6037
6172952,0,0,520825,287098486,2013,3458861,6037
6172953,0,0,520825,287098486,2013,3458861,6037
6172954,0,0,520825,287098486,2013,3458861,6037
6172955,0,0,520825,287098486,2013,3458861,6037